@use "../variables" as *;
@use "../func" as *;
@use "../mixin" as *;

.crypto-market-marking {
  position: relative;
  .sub-bg {
    position: absolute;
    left: -80%;
    top: -60%;
    z-index: -1;
  }
  .main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    article {
      display: flex;
      align-items: center;
      .content {
        width: 40%;
        .title {
          color: $white-clr;
          font-size: $fzl;
          line-height: lineHeight($fzl, 44);
        }
        .sub-title {
          margin-top: 27px;
          color: $white-clr;
          line-height: lineHeight($fz, 28);
        }
        p {
          margin-top: 20px;
        }
        .simple-btn {
          margin-top: 32px;
        }
      }
      .media {
        margin-left: auto;
      }
    }

    article:last-child {
      margin-top: 110px;
      .content {
        order: 2;
      }
      .media {
        margin-right: auto;
        margin-left: unset;
      }
    }

    @include responsive($xl) {
      display: flex;
      flex-direction: row;
      gap: 10%;
      .content {
        flex: 1;
      }
      .media {
        display: none;
      }
      article {
        text-align: center;
      }
      article:last-child {
        margin-top: unset;
      }
      img {
        left: -150%;
        top: -220%;
      }
    }
    @include responsive($md) {
      flex-direction: column;
      gap: 64px;
    }
  }
}
