@use "../variables" as *;
@use "../mixin" as *;

.app-footer {
  border-top: thin solid #bcbcbc;
  padding-bottom: 60px;
  padding-top: 80px;
  color: #bcbcbc;
  .main-content,
  .sub-content {
    display: flex;
    justify-content: space-between;
    font-size: $fzsss;
  }

  .sub-content {
    margin-top: 60px;
  }

  a {
    transition: color 0.3s;
  }

  a:hover {
    color: $white-clr;
  }

  .main-content {
    .left-content {
      ul {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .site-name {
        text-transform: uppercase;
      }
    }
  }
  @include responsive($md) {
    .container {
      text-align: center;
      .main-content {
        flex-direction: column;
        gap: 24px;
        .site-name {
          display: none;
        }
        .right-content {
          order: 1;
        }
        .left-content {
          order: 2;
          ul {
            gap: 24px;
          }
        }
      }
      .sub-content {
        gap: 24px;
        flex-direction: column;
        margin-top: 24px;
      }

      .copyright {
      }
    }
  }
}
