@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$pf: "Inter", sans-serif;

$fz: 2rem; //Default;
$fzl: 3.6rem; //Larger;
$fzsl: 5.6rem; // S larger;
$fzssl: 7.6rem; //SS larger;
$fzs: 1.8rem; //Small;
$fzss: 1.5rem; // S Small;
$fzsss: 1.4rem; // SS Small;

$site-width: 140.4rem;
$container: 105.6rem;

$clr: #e5e5e5;
$white-clr: #fff;
$black-clr: #000;
$purple-clr: #665dcd;
$blue-clr: #5fa4e6;
$orange-clr: #d2ab67;
$bg-linear: linear-gradient(to bottom right, #665dcd, #5fa4e6 45%, #d2ab67);
$bg: #141619;
$trade-bar-height: 75px;
$header-height: calc(100vh - $trade-bar-height);
